
.astroweather-current {
  min-width: 400px;
  padding-left: 20px;
  padding-right: 40px;
}
.astroweather-current-details {
}

.astroweather-icon {
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

.astroweather-forecast {
  width: 0px;
}

.astroweather-forecast-scroll {
  -st-hfade-offset: 60px;
}

.astroweather-forecast-entry {
  padding: 10px;
}

.astroweather-forecast-labels {
  padding: 10px;
  width: 100px;
}
.astroweather-forecast-label {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 24px;
  text-align: right;
  color: #999999;
}

.astroweather-forecast-icon {
  padding: 4px;
}

.astroweather-forecast-text {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 24px;
  color: #999999;
}

.astroweather-forecast-entry:first-child {
  padding-left: 50px;
}
.astroweather-forecast-entry:last-child {
  padding-right: 50px;
}

.astroweather-current-details-labels {
  text-align: right;
  color: #999999;
  padding-right: 10px;
  padding-left: 20px;
}